*{
    margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
    background-color: rgb(0, 155, 202);
}

#drum-machine{
    background-color: beige;

    padding: 30px;

    display: flex;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}